openapi: 3.0.4
info:
  title: CoinAPI Indexes REST API
  contact:
    name: API BRICKS LTD
    url: https://www.coinapi.io
    email: support@apibricks.io
  license:
    name: MIT License
    url: https://github.com/api-bricks/api-bricks-sdk/blob/master/LICENSE
  version: v1
servers:
  - url: https://rest-api.indexes.coinapi.io
paths:
  /v1/indexes:
    get:
      tags:
        - Indexes
      summary: List indexes
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexIdentifier'
              examples:
                Sample Index List:
                  value: [
  {
    "id": "IDX_REFRATE_VWAP_BTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_ETH"
  },
  {
    "id": "IDX_REFRATE_VWAP_LTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_XRP"
  },
  {
    "id": "IDX_REFRATE_VWAP_ADA"
  }
]
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexIdentifier'
              examples:
                Sample Index List:
                  value: [
  {
    "id": "IDX_REFRATE_VWAP_BTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_ETH"
  },
  {
    "id": "IDX_REFRATE_VWAP_LTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_XRP"
  },
  {
    "id": "IDX_REFRATE_VWAP_ADA"
  }
]
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexIdentifier'
              examples:
                Sample Index List:
                  value: [
  {
    "id": "IDX_REFRATE_VWAP_BTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_ETH"
  },
  {
    "id": "IDX_REFRATE_VWAP_LTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_XRP"
  },
  {
    "id": "IDX_REFRATE_VWAP_ADA"
  }
]
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexIdentifier'
              examples:
                Sample Index List:
                  value: [
  {
    "id": "IDX_REFRATE_VWAP_BTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_ETH"
  },
  {
    "id": "IDX_REFRATE_VWAP_LTC"
  },
  {
    "id": "IDX_REFRATE_VWAP_XRP"
  },
  {
    "id": "IDX_REFRATE_VWAP_ADA"
  }
]
  '/v1/indexes/{index_id}/current':
    get:
      tags:
        - Indexes
      summary: Current Index Value
      parameters:
        - name: index_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: {
  "timestamp": "2024-09-01T09:00:00",
  "value": 56787.5997300339
}
            application/json:
              schema:
                $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: {
  "timestamp": "2024-09-01T09:00:00",
  "value": 56787.5997300339
}
            text/json:
              schema:
                $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: {
  "timestamp": "2024-09-01T09:00:00",
  "value": 56787.5997300339
}
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: {
  "timestamp": "2024-09-01T09:00:00",
  "value": 56787.5997300339
}
  '/v1/indexes/{index_definition_id}/currentSnapshot':
    get:
      tags:
        - Indexes
      summary: Current Index Values for index definition
      parameters:
        - name: index_definition_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
  '/v1/indexes/{index_id}/history':
    get:
      tags:
        - Indexes
      summary: Historical Index Value w/Composition
      parameters:
        - name: index_id
          in: path
          required: true
          schema:
            type: string
        - name: time_start
          in: query
          schema:
            type: string
            format: date-time
        - name: time_end
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: [
  {
    "timestamp": "2024-09-05T11:29:04+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:03+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:02+00:00",
    "value": 56786.84840020827,
    "composition": []
  }
]
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: [
  {
    "timestamp": "2024-09-05T11:29:04+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:03+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:02+00:00",
    "value": 56786.84840020827,
    "composition": []
  }
]
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: [
  {
    "timestamp": "2024-09-05T11:29:04+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:03+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:02+00:00",
    "value": 56786.84840020827,
    "composition": []
  }
]
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexValue'
              examples:
                Example response:
                  value: [
  {
    "timestamp": "2024-09-05T11:29:04+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:03+00:00",
    "value": 56786.84840020827,
    "composition": []
  },
  {
    "timestamp": "2024-09-05T11:29:02+00:00",
    "value": 56786.84840020827,
    "composition": []
  }
]
  '/v1/indexes/{index_definition_id}/historySnapshot':
    get:
      tags:
        - Indexes
      summary: Historical Index Values for index definition
      parameters:
        - name: index_definition_id
          in: path
          required: true
          schema:
            type: string
        - name: time
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexDefinitionSnapshotEntry'
  '/v1/indexes/{index_id}/timeseries':
    get:
      tags:
        - Indexes
      summary: Timeseries Index Value
      parameters:
        - name: index_id
          in: path
          description: ''
          required: true
          schema:
            type: string
        - name: period_id
          in: query
          description: Identifier of requested timeseries period (e.g. `5SEC` or `1DAY`)
          required: true
          schema:
            type: string
        - name: time_start
          in: query
          description: Timeseries starting time in ISO 8601
          required: true
          schema:
            type: string
        - name: time_end
          in: query
          description: Timeseries ending time in ISO 8601
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Amount of items to return (optional, mininum is 1, maximum is 100000, default value is 100, if the parameter is used then every 100 output items are counted as one request)'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexTimeseriesItem'
              examples:
                Example response:
                  value: [
  {
    "time_period_start": "2024-09-05T08:00:00+00:00",
    "time_period_end": "2024-09-05T09:00:00+00:00",
    "time_open": "2024-09-05T08:00:44+00:00",
    "time_close": "2024-09-05T08:59:44+00:00",
    "value_open": 57146.1153570673,
    "value_high": 57210.0651836076,
    "value_low": 56950.4558254606,
    "value_close": 56993.5152800002,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T09:00:00+00:00",
    "time_period_end": "2024-09-05T10:00:00+00:00",
    "time_open": "2024-09-05T09:00:44+00:00",
    "time_close": "2024-09-05T09:59:59.9+00:00",
    "value_open": 57000.6574615287,
    "value_high": 57000.6574615287,
    "value_low": 56650.5866347198,
    "value_close": 56787.2920819528,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T10:00:00+00:00",
    "time_period_end": "2024-09-05T11:00:00+00:00",
    "time_open": "2024-09-05T10:00:00+00:00",
    "time_close": "2024-09-05T10:59:59.9+00:00",
    "value_open": 56787.2920819528,
    "value_high": 56788.3686345929,
    "value_low": 56786.7251004355,
    "value_close": 56787.2066526585,
    "value_count": 0
  }
]
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexTimeseriesItem'
              examples:
                Example response:
                  value: [
  {
    "time_period_start": "2024-09-05T08:00:00+00:00",
    "time_period_end": "2024-09-05T09:00:00+00:00",
    "time_open": "2024-09-05T08:00:44+00:00",
    "time_close": "2024-09-05T08:59:44+00:00",
    "value_open": 57146.1153570673,
    "value_high": 57210.0651836076,
    "value_low": 56950.4558254606,
    "value_close": 56993.5152800002,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T09:00:00+00:00",
    "time_period_end": "2024-09-05T10:00:00+00:00",
    "time_open": "2024-09-05T09:00:44+00:00",
    "time_close": "2024-09-05T09:59:59.9+00:00",
    "value_open": 57000.6574615287,
    "value_high": 57000.6574615287,
    "value_low": 56650.5866347198,
    "value_close": 56787.2920819528,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T10:00:00+00:00",
    "time_period_end": "2024-09-05T11:00:00+00:00",
    "time_open": "2024-09-05T10:00:00+00:00",
    "time_close": "2024-09-05T10:59:59.9+00:00",
    "value_open": 56787.2920819528,
    "value_high": 56788.3686345929,
    "value_low": 56786.7251004355,
    "value_close": 56787.2066526585,
    "value_count": 0
  }
]
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexTimeseriesItem'
              examples:
                Example response:
                  value: [
  {
    "time_period_start": "2024-09-05T08:00:00+00:00",
    "time_period_end": "2024-09-05T09:00:00+00:00",
    "time_open": "2024-09-05T08:00:44+00:00",
    "time_close": "2024-09-05T08:59:44+00:00",
    "value_open": 57146.1153570673,
    "value_high": 57210.0651836076,
    "value_low": 56950.4558254606,
    "value_close": 56993.5152800002,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T09:00:00+00:00",
    "time_period_end": "2024-09-05T10:00:00+00:00",
    "time_open": "2024-09-05T09:00:44+00:00",
    "time_close": "2024-09-05T09:59:59.9+00:00",
    "value_open": 57000.6574615287,
    "value_high": 57000.6574615287,
    "value_low": 56650.5866347198,
    "value_close": 56787.2920819528,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T10:00:00+00:00",
    "time_period_end": "2024-09-05T11:00:00+00:00",
    "time_open": "2024-09-05T10:00:00+00:00",
    "time_close": "2024-09-05T10:59:59.9+00:00",
    "value_open": 56787.2920819528,
    "value_high": 56788.3686345929,
    "value_low": 56786.7251004355,
    "value_close": 56787.2066526585,
    "value_count": 0
  }
]
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexTimeseriesItem'
              examples:
                Example response:
                  value: [
  {
    "time_period_start": "2024-09-05T08:00:00+00:00",
    "time_period_end": "2024-09-05T09:00:00+00:00",
    "time_open": "2024-09-05T08:00:44+00:00",
    "time_close": "2024-09-05T08:59:44+00:00",
    "value_open": 57146.1153570673,
    "value_high": 57210.0651836076,
    "value_low": 56950.4558254606,
    "value_close": 56993.5152800002,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T09:00:00+00:00",
    "time_period_end": "2024-09-05T10:00:00+00:00",
    "time_open": "2024-09-05T09:00:44+00:00",
    "time_close": "2024-09-05T09:59:59.9+00:00",
    "value_open": 57000.6574615287,
    "value_high": 57000.6574615287,
    "value_low": 56650.5866347198,
    "value_close": 56787.2920819528,
    "value_count": 0
  },
  {
    "time_period_start": "2024-09-05T10:00:00+00:00",
    "time_period_end": "2024-09-05T11:00:00+00:00",
    "time_open": "2024-09-05T10:00:00+00:00",
    "time_close": "2024-09-05T10:59:59.9+00:00",
    "value_open": 56787.2920819528,
    "value_high": 56788.3686345929,
    "value_low": 56786.7251004355,
    "value_close": 56787.2066526585,
    "value_count": 0
  }
]
  /v1/indexdef/multiasset:
    get:
      tags:
        - Indexes
      summary: Get all multi-asset weights
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
  '/v1/indexdef/multiasset/{index_id}':
    get:
      tags:
        - Indexes
      summary: Get multi-asset weights for specific index
      parameters:
        - name: index_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Models.IndexMultiAssetWeight'
components:
  schemas:
    Models.IndexDefinitionSnapshotEntry:
      type: object
      properties:
        index_id:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
        value:
          type: number
          format: double
      additionalProperties: false
    Models.IndexIdentifier:
      type: object
      properties:
        id:
          type: string
          description: Index ID
          nullable: true
      additionalProperties: false
      description: Represents an index id
    Models.IndexMultiAssetWeight:
      type: object
      properties:
        indexId:
          type: string
          nullable: true
        assetId:
          type: string
          nullable: true
        weight:
          type: number
          format: double
      additionalProperties: false
    Models.IndexTimeseriesItem:
      type: object
      properties:
        time_period_start:
          type: string
          description: Gets or sets the start time of the time period.
          format: date-time
        time_period_end:
          type: string
          description: Gets or sets the end time of the time period.
          format: date-time
        time_open:
          type: string
          description: Gets or sets the time when the value opened.
          format: date-time
          nullable: true
        time_close:
          type: string
          description: Gets or sets the time when the value closed.
          format: date-time
          nullable: true
        value_open:
          type: number
          description: Gets or sets the opening value.
          format: double
          nullable: true
        value_high:
          type: number
          description: Gets or sets the highest value during the time period.
          format: double
          nullable: true
        value_low:
          type: number
          description: Gets or sets the lowest value during the time period.
          format: double
          nullable: true
        value_close:
          type: number
          description: Gets or sets the closing value.
          format: double
          nullable: true
        value_count:
          type: integer
          description: Gets or sets the number of values during the time period.
          format: int64
      additionalProperties: false
      description: Represents a timeseries item with value information.
    Models.IndexValue:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: number
          format: double
        composition:
          type: array
          items:
            $ref: '#/components/schemas/Models.IndexValueComponent'
          nullable: true
      additionalProperties: false
    Models.IndexValueComponent:
      type: object
      properties:
        component_id:
          type: string
          nullable: true
        component_value:
          type: number
          format: double
      additionalProperties: false
  securitySchemes:
    APIKey:
      type: apiKey
      description: API Key is required to access the endpoints
      name: Authorization
      in: header
    JWT:
      type: http
      description: 'JWT Authorization header using the Bearer scheme. Example: "Bearer {token}"'
      scheme: bearer
      bearerFormat: JWT
security:
  - APIKey: [ ]
  - JWT: [ ]