/*
 * CoinAPI Indexes REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.Date;
import java.util.*;
import org.openapitools.client.model.ModelsIndexDefinitionInputData;
import org.openapitools.client.model.ModelsIndexDefinitionSnapshotEntry;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class IndexInputDataApi {
  String basePath = "https://rest-api.indexes.coinapi.io";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Returns all data inputs for a specific index definition
  * 
   * @param indexDefinitionId 
   * @return List<ModelsIndexDefinitionInputData>
  */
  public List<ModelsIndexDefinitionInputData> v1IndexdefInputDataIndexDefinitionIdAllGet (String indexDefinitionId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'indexDefinitionId' is set
    if (indexDefinitionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdAllGet",
        new ApiException(400, "Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdAllGet"));
    }

    // create path and map variables
    String path = "/v1/indexdef/input-data/{index_definition_id}/all".replaceAll("\\{" + "index_definition_id" + "\\}", apiInvoker.escapeString(indexDefinitionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "APIKey", "JWT" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ModelsIndexDefinitionInputData>) ApiInvoker.deserialize(localVarResponse, "array", ModelsIndexDefinitionInputData.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns all data inputs for a specific index definition
   * 
   * @param indexDefinitionId 
  */
  public void v1IndexdefInputDataIndexDefinitionIdAllGet (String indexDefinitionId, final Response.Listener<List<ModelsIndexDefinitionInputData>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'indexDefinitionId' is set
    if (indexDefinitionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdAllGet",
        new ApiException(400, "Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdAllGet"));
    }

    // create path and map variables
    String path = "/v1/indexdef/input-data/{index_definition_id}/all".replaceAll("\\{format\\}","json").replaceAll("\\{" + "index_definition_id" + "\\}", apiInvoker.escapeString(indexDefinitionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "APIKey", "JWT" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ModelsIndexDefinitionInputData>) ApiInvoker.deserialize(localVarResponse,  "array", ModelsIndexDefinitionInputData.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns data inputs for certain index definition and time
  * 
   * @param indexDefinitionId 
   * @param time 
   * @param enabledOnly 
   * @param pendingOnly 
   * @param filterAssetId 
   * @param withStatusInfo 
   * @return List<ModelsIndexDefinitionSnapshotEntry>
  */
  public List<ModelsIndexDefinitionSnapshotEntry> v1IndexdefInputDataIndexDefinitionIdGet (String indexDefinitionId, Date time, Boolean enabledOnly, Boolean pendingOnly, String filterAssetId, Boolean withStatusInfo) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'indexDefinitionId' is set
    if (indexDefinitionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdGet",
        new ApiException(400, "Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdGet"));
    }

    // create path and map variables
    String path = "/v1/indexdef/input-data/{index_definition_id}".replaceAll("\\{" + "index_definition_id" + "\\}", apiInvoker.escapeString(indexDefinitionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "time", time));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enabled_only", enabledOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pending_only", pendingOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter_asset_id", filterAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "with_status_info", withStatusInfo));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "APIKey", "JWT" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ModelsIndexDefinitionSnapshotEntry>) ApiInvoker.deserialize(localVarResponse, "array", ModelsIndexDefinitionSnapshotEntry.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns data inputs for certain index definition and time
   * 
   * @param indexDefinitionId    * @param time    * @param enabledOnly    * @param pendingOnly    * @param filterAssetId    * @param withStatusInfo 
  */
  public void v1IndexdefInputDataIndexDefinitionIdGet (String indexDefinitionId, Date time, Boolean enabledOnly, Boolean pendingOnly, String filterAssetId, Boolean withStatusInfo, final Response.Listener<List<ModelsIndexDefinitionSnapshotEntry>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'indexDefinitionId' is set
    if (indexDefinitionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdGet",
        new ApiException(400, "Missing the required parameter 'indexDefinitionId' when calling v1IndexdefInputDataIndexDefinitionIdGet"));
    }

    // create path and map variables
    String path = "/v1/indexdef/input-data/{index_definition_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "index_definition_id" + "\\}", apiInvoker.escapeString(indexDefinitionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "time", time));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enabled_only", enabledOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pending_only", pendingOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter_asset_id", filterAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "with_status_info", withStatusInfo));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "APIKey", "JWT" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ModelsIndexDefinitionSnapshotEntry>) ApiInvoker.deserialize(localVarResponse,  "array", ModelsIndexDefinitionSnapshotEntry.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
