/**
 * FinFeedAPI Stock REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ExchangeModel
import org.openapitools.client.model.SymbolModel
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object MetadataApi {

  def apply(baseUrl: String = "https://api-historical.stock.finfeedapi.com") = new MetadataApi(baseUrl)
}

class MetadataApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[ExchangeModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   */
  def v1ExchangesGet()(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[ExchangeModel]] =
    ApiRequest[Seq[ExchangeModel]](ApiMethods.GET, baseUrl, "/v1/exchanges", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withSuccessResponse[Seq[ExchangeModel]](200)
      

  /**
   * Results are paginated. Use `limit` and `page` to control page size and offset (default limit: 100, max: 10000, default page: 1).
   * 
   * Expected answers:
   *   code 200 : Seq[SymbolModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param exchangeId The ID of the exchange (from the Metadata -> Exchanges)
   * @param filterSymbolId Comma or semicolon delimited symbol identifiers used to filter response (optional, eg. `TSLA` or `TSLA,NVDA`)
   * @param limit Maximum number of symbols to return (1-10000, default 100)
   * @param page Page number (1-based, default 1)
   */
  def v1SymbolsExchangeIdGet(exchangeId: String, filterSymbolId: Option[String] = None, limit: Option[Int] = None, page: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[SymbolModel]] =
    ApiRequest[Seq[SymbolModel]](ApiMethods.GET, baseUrl, "/v1/symbols/{exchange_id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("filter_symbol_id", filterSymbolId)
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withPathParam("exchange_id", exchangeId)
      .withSuccessResponse[Seq[SymbolModel]](200)
      



}

