/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ModelsIndexDefinitionInputData
import org.openapitools.client.models.ModelsIndexDefinitionSnapshotEntry

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class IndexInputDataApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://rest-api.indexes.coinapi.io")
        }
    }

    /**
     * GET /v1/indexdef/input-data/{index_definition_id}/all
     * Returns all data inputs for a specific index definition
     * 
     * @param indexDefinitionId 
     * @return kotlin.collections.List<ModelsIndexDefinitionInputData>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun v1IndexdefInputDataIndexDefinitionIdAllGet(indexDefinitionId: kotlin.String) : kotlin.collections.List<ModelsIndexDefinitionInputData> {
        val localVarResponse = v1IndexdefInputDataIndexDefinitionIdAllGetWithHttpInfo(indexDefinitionId = indexDefinitionId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ModelsIndexDefinitionInputData>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/indexdef/input-data/{index_definition_id}/all
     * Returns all data inputs for a specific index definition
     * 
     * @param indexDefinitionId 
     * @return ApiResponse<kotlin.collections.List<ModelsIndexDefinitionInputData>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun v1IndexdefInputDataIndexDefinitionIdAllGetWithHttpInfo(indexDefinitionId: kotlin.String) : ApiResponse<kotlin.collections.List<ModelsIndexDefinitionInputData>?> {
        val localVariableConfig = v1IndexdefInputDataIndexDefinitionIdAllGetRequestConfig(indexDefinitionId = indexDefinitionId)

        return request<Unit, kotlin.collections.List<ModelsIndexDefinitionInputData>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation v1IndexdefInputDataIndexDefinitionIdAllGet
     *
     * @param indexDefinitionId 
     * @return RequestConfig
     */
    fun v1IndexdefInputDataIndexDefinitionIdAllGetRequestConfig(indexDefinitionId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain, application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/indexdef/input-data/{index_definition_id}/all".replace("{"+"index_definition_id"+"}", encodeURIComponent(indexDefinitionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/indexdef/input-data/{index_definition_id}
     * Returns data inputs for certain index definition and time
     * 
     * @param indexDefinitionId 
     * @param time  (optional)
     * @param enabledOnly  (optional, default to false)
     * @param pendingOnly  (optional, default to false)
     * @param filterAssetId  (optional)
     * @param withStatusInfo  (optional, default to false)
     * @return kotlin.collections.List<ModelsIndexDefinitionSnapshotEntry>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun v1IndexdefInputDataIndexDefinitionIdGet(indexDefinitionId: kotlin.String, time: java.time.OffsetDateTime? = null, enabledOnly: kotlin.Boolean? = false, pendingOnly: kotlin.Boolean? = false, filterAssetId: kotlin.String? = null, withStatusInfo: kotlin.Boolean? = false) : kotlin.collections.List<ModelsIndexDefinitionSnapshotEntry> {
        val localVarResponse = v1IndexdefInputDataIndexDefinitionIdGetWithHttpInfo(indexDefinitionId = indexDefinitionId, time = time, enabledOnly = enabledOnly, pendingOnly = pendingOnly, filterAssetId = filterAssetId, withStatusInfo = withStatusInfo)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ModelsIndexDefinitionSnapshotEntry>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/indexdef/input-data/{index_definition_id}
     * Returns data inputs for certain index definition and time
     * 
     * @param indexDefinitionId 
     * @param time  (optional)
     * @param enabledOnly  (optional, default to false)
     * @param pendingOnly  (optional, default to false)
     * @param filterAssetId  (optional)
     * @param withStatusInfo  (optional, default to false)
     * @return ApiResponse<kotlin.collections.List<ModelsIndexDefinitionSnapshotEntry>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun v1IndexdefInputDataIndexDefinitionIdGetWithHttpInfo(indexDefinitionId: kotlin.String, time: java.time.OffsetDateTime?, enabledOnly: kotlin.Boolean?, pendingOnly: kotlin.Boolean?, filterAssetId: kotlin.String?, withStatusInfo: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<ModelsIndexDefinitionSnapshotEntry>?> {
        val localVariableConfig = v1IndexdefInputDataIndexDefinitionIdGetRequestConfig(indexDefinitionId = indexDefinitionId, time = time, enabledOnly = enabledOnly, pendingOnly = pendingOnly, filterAssetId = filterAssetId, withStatusInfo = withStatusInfo)

        return request<Unit, kotlin.collections.List<ModelsIndexDefinitionSnapshotEntry>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation v1IndexdefInputDataIndexDefinitionIdGet
     *
     * @param indexDefinitionId 
     * @param time  (optional)
     * @param enabledOnly  (optional, default to false)
     * @param pendingOnly  (optional, default to false)
     * @param filterAssetId  (optional)
     * @param withStatusInfo  (optional, default to false)
     * @return RequestConfig
     */
    fun v1IndexdefInputDataIndexDefinitionIdGetRequestConfig(indexDefinitionId: kotlin.String, time: java.time.OffsetDateTime?, enabledOnly: kotlin.Boolean?, pendingOnly: kotlin.Boolean?, filterAssetId: kotlin.String?, withStatusInfo: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (time != null) {
                    put("time", listOf(parseDateToQueryString(time)))
                }
                if (enabledOnly != null) {
                    put("enabled_only", listOf(enabledOnly.toString()))
                }
                if (pendingOnly != null) {
                    put("pending_only", listOf(pendingOnly.toString()))
                }
                if (filterAssetId != null) {
                    put("filter_asset_id", listOf(filterAssetId.toString()))
                }
                if (withStatusInfo != null) {
                    put("with_status_info", listOf(withStatusInfo.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain, application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/indexdef/input-data/{index_definition_id}".replace("{"+"index_definition_id"+"}", encodeURIComponent(indexDefinitionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
