# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule CoinAPIIndexesRESTAPI.Api.MultiAssetWeights do
  @moduledoc """
  API calls for all endpoints tagged `MultiAssetWeights`.
  """

  alias CoinAPIIndexesRESTAPI.Connection
  import CoinAPIIndexesRESTAPI.RequestBuilder

  @doc """
  Get all multi-asset weights

  ### Parameters

  - `connection` (CoinAPIIndexesRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%ModelsIndexMultiAssetWeight{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_indexdef_multiasset_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIIndexesRESTAPI.Model.ModelsIndexMultiAssetWeight.t]} | {:error, Tesla.Env.t}
  def v1_indexdef_multiasset_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/indexdef/multiasset")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIIndexesRESTAPI.Model.ModelsIndexMultiAssetWeight}
    ])
  end

  @doc """
  Get multi-asset weights for specific index

  ### Parameters

  - `connection` (CoinAPIIndexesRESTAPI.Connection): Connection to server
  - `index_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%ModelsIndexMultiAssetWeight{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_indexdef_multiasset_index_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIIndexesRESTAPI.Model.ModelsIndexMultiAssetWeight.t]} | {:error, Tesla.Env.t}
  def v1_indexdef_multiasset_index_id_get(connection, index_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/indexdef/multiasset/#{index_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIIndexesRESTAPI.Model.ModelsIndexMultiAssetWeight}
    ])
  end
end
