=begin
#CoinAPI Indexes REST API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1
Contact: support@apibricks.io
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class IndexInputDataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns all data inputs for a specific index definition
    # @param index_definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsIndexDefinitionInputData>]
    def v1_indexdef_input_data_index_definition_id_all_get(index_definition_id, opts = {})
      data, _status_code, _headers = v1_indexdef_input_data_index_definition_id_all_get_with_http_info(index_definition_id, opts)
      data
    end

    # Returns all data inputs for a specific index definition
    # @param index_definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsIndexDefinitionInputData>, Integer, Hash)>] Array<ModelsIndexDefinitionInputData> data, response status code and response headers
    def v1_indexdef_input_data_index_definition_id_all_get_with_http_info(index_definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndexInputDataApi.v1_indexdef_input_data_index_definition_id_all_get ...'
      end
      # verify the required parameter 'index_definition_id' is set
      if @api_client.config.client_side_validation && index_definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'index_definition_id' when calling IndexInputDataApi.v1_indexdef_input_data_index_definition_id_all_get"
      end
      # resource path
      local_var_path = '/v1/indexdef/input-data/{index_definition_id}/all'.sub('{' + 'index_definition_id' + '}', CGI.escape(index_definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json', 'application/x-msgpack']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsIndexDefinitionInputData>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"IndexInputDataApi.v1_indexdef_input_data_index_definition_id_all_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndexInputDataApi#v1_indexdef_input_data_index_definition_id_all_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns data inputs for certain index definition and time
    # @param index_definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :time 
    # @option opts [Boolean] :enabled_only  (default to false)
    # @option opts [Boolean] :pending_only  (default to false)
    # @option opts [String] :filter_asset_id 
    # @option opts [Boolean] :with_status_info  (default to false)
    # @return [Array<ModelsIndexDefinitionSnapshotEntry>]
    def v1_indexdef_input_data_index_definition_id_get(index_definition_id, opts = {})
      data, _status_code, _headers = v1_indexdef_input_data_index_definition_id_get_with_http_info(index_definition_id, opts)
      data
    end

    # Returns data inputs for certain index definition and time
    # @param index_definition_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :time 
    # @option opts [Boolean] :enabled_only  (default to false)
    # @option opts [Boolean] :pending_only  (default to false)
    # @option opts [String] :filter_asset_id 
    # @option opts [Boolean] :with_status_info  (default to false)
    # @return [Array<(Array<ModelsIndexDefinitionSnapshotEntry>, Integer, Hash)>] Array<ModelsIndexDefinitionSnapshotEntry> data, response status code and response headers
    def v1_indexdef_input_data_index_definition_id_get_with_http_info(index_definition_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndexInputDataApi.v1_indexdef_input_data_index_definition_id_get ...'
      end
      # verify the required parameter 'index_definition_id' is set
      if @api_client.config.client_side_validation && index_definition_id.nil?
        fail ArgumentError, "Missing the required parameter 'index_definition_id' when calling IndexInputDataApi.v1_indexdef_input_data_index_definition_id_get"
      end
      # resource path
      local_var_path = '/v1/indexdef/input-data/{index_definition_id}'.sub('{' + 'index_definition_id' + '}', CGI.escape(index_definition_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'time'] = opts[:'time'] if !opts[:'time'].nil?
      query_params[:'enabled_only'] = opts[:'enabled_only'] if !opts[:'enabled_only'].nil?
      query_params[:'pending_only'] = opts[:'pending_only'] if !opts[:'pending_only'].nil?
      query_params[:'filter_asset_id'] = opts[:'filter_asset_id'] if !opts[:'filter_asset_id'].nil?
      query_params[:'with_status_info'] = opts[:'with_status_info'] if !opts[:'with_status_info'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json', 'application/x-msgpack']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsIndexDefinitionSnapshotEntry>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"IndexInputDataApi.v1_indexdef_input_data_index_definition_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndexInputDataApi#v1_indexdef_input_data_index_definition_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
