/**
 * CoinAPI Indexes REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.IndexMultiAssetWeight
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object MultiAssetWeightsApi {

  def apply(baseUrl: String = "https://rest-api.indexes.coinapi.io") = new MultiAssetWeightsApi(baseUrl)
}

class MultiAssetWeightsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[IndexMultiAssetWeight] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   */
  def v1IndexdefMultiassetGet()(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[IndexMultiAssetWeight]] =
    ApiRequest[Seq[IndexMultiAssetWeight]](ApiMethods.GET, baseUrl, "/v1/indexdef/multiasset", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withSuccessResponse[Seq[IndexMultiAssetWeight]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[IndexMultiAssetWeight] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param indexId 
   */
  def v1IndexdefMultiassetIndexIdGet(indexId: String)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[IndexMultiAssetWeight]] =
    ApiRequest[Seq[IndexMultiAssetWeight]](ApiMethods.GET, baseUrl, "/v1/indexdef/multiasset/{index_id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withPathParam("index_id", indexId)
      .withSuccessResponse[Seq[IndexMultiAssetWeight]](200)
      



}

