/**
 * Exchange Rates Realtime REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RateLimitApi {

  def apply(baseUrl: String = "https://api-realtime.exrates.coinapi.io") = new RateLimitApi(baseUrl)
}

class RateLimitApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   */
  def internalRatelimitWsconconApikeyGet()(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/internal/ratelimit/wsconcon/apikey", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   */
  def internalRatelimitWshelloIpGet()(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/internal/ratelimit/wshello/ip", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   */
  def internalRatelimitWsreqIpGet()(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/internal/ratelimit/wsreq/ip", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      



}

