/*
CoinAPI Indexes REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1
Contact: support@apibricks.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// IndexInputDataAPIService IndexInputDataAPI service
type IndexInputDataAPIService service

type ApiV1IndexdefInputDataIndexDefinitionIdAllGetRequest struct {
	ctx context.Context
	ApiService *IndexInputDataAPIService
	indexDefinitionId string
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdAllGetRequest) Execute() ([]ModelsIndexDefinitionInputData, *http.Response, error) {
	return r.ApiService.V1IndexdefInputDataIndexDefinitionIdAllGetExecute(r)
}

/*
V1IndexdefInputDataIndexDefinitionIdAllGet Returns all data inputs for a specific index definition

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param indexDefinitionId
 @return ApiV1IndexdefInputDataIndexDefinitionIdAllGetRequest
*/
func (a *IndexInputDataAPIService) V1IndexdefInputDataIndexDefinitionIdAllGet(ctx context.Context, indexDefinitionId string) ApiV1IndexdefInputDataIndexDefinitionIdAllGetRequest {
	return ApiV1IndexdefInputDataIndexDefinitionIdAllGetRequest{
		ApiService: a,
		ctx: ctx,
		indexDefinitionId: indexDefinitionId,
	}
}

// Execute executes the request
//  @return []ModelsIndexDefinitionInputData
func (a *IndexInputDataAPIService) V1IndexdefInputDataIndexDefinitionIdAllGetExecute(r ApiV1IndexdefInputDataIndexDefinitionIdAllGetRequest) ([]ModelsIndexDefinitionInputData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ModelsIndexDefinitionInputData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IndexInputDataAPIService.V1IndexdefInputDataIndexDefinitionIdAllGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/indexdef/input-data/{index_definition_id}/all"
	localVarPath = strings.Replace(localVarPath, "{"+"index_definition_id"+"}", url.PathEscape(parameterValueToString(r.indexDefinitionId, "indexDefinitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/x-msgpack"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1IndexdefInputDataIndexDefinitionIdGetRequest struct {
	ctx context.Context
	ApiService *IndexInputDataAPIService
	indexDefinitionId string
	time *time.Time
	enabledOnly *bool
	pendingOnly *bool
	filterAssetId *string
	withStatusInfo *bool
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) Time(time time.Time) ApiV1IndexdefInputDataIndexDefinitionIdGetRequest {
	r.time = &time
	return r
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) EnabledOnly(enabledOnly bool) ApiV1IndexdefInputDataIndexDefinitionIdGetRequest {
	r.enabledOnly = &enabledOnly
	return r
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) PendingOnly(pendingOnly bool) ApiV1IndexdefInputDataIndexDefinitionIdGetRequest {
	r.pendingOnly = &pendingOnly
	return r
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) FilterAssetId(filterAssetId string) ApiV1IndexdefInputDataIndexDefinitionIdGetRequest {
	r.filterAssetId = &filterAssetId
	return r
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) WithStatusInfo(withStatusInfo bool) ApiV1IndexdefInputDataIndexDefinitionIdGetRequest {
	r.withStatusInfo = &withStatusInfo
	return r
}

func (r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) Execute() ([]ModelsIndexDefinitionSnapshotEntry, *http.Response, error) {
	return r.ApiService.V1IndexdefInputDataIndexDefinitionIdGetExecute(r)
}

/*
V1IndexdefInputDataIndexDefinitionIdGet Returns data inputs for certain index definition and time

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param indexDefinitionId
 @return ApiV1IndexdefInputDataIndexDefinitionIdGetRequest
*/
func (a *IndexInputDataAPIService) V1IndexdefInputDataIndexDefinitionIdGet(ctx context.Context, indexDefinitionId string) ApiV1IndexdefInputDataIndexDefinitionIdGetRequest {
	return ApiV1IndexdefInputDataIndexDefinitionIdGetRequest{
		ApiService: a,
		ctx: ctx,
		indexDefinitionId: indexDefinitionId,
	}
}

// Execute executes the request
//  @return []ModelsIndexDefinitionSnapshotEntry
func (a *IndexInputDataAPIService) V1IndexdefInputDataIndexDefinitionIdGetExecute(r ApiV1IndexdefInputDataIndexDefinitionIdGetRequest) ([]ModelsIndexDefinitionSnapshotEntry, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ModelsIndexDefinitionSnapshotEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IndexInputDataAPIService.V1IndexdefInputDataIndexDefinitionIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/indexdef/input-data/{index_definition_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"index_definition_id"+"}", url.PathEscape(parameterValueToString(r.indexDefinitionId, "indexDefinitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.enabledOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled_only", r.enabledOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled_only", defaultValue, "form", "")
		r.enabledOnly = &defaultValue
	}
	if r.pendingOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pending_only", r.pendingOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "pending_only", defaultValue, "form", "")
		r.pendingOnly = &defaultValue
	}
	if r.filterAssetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter_asset_id", r.filterAssetId, "form", "")
	}
	if r.withStatusInfo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_status_info", r.withStatusInfo, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_status_info", defaultValue, "form", "")
		r.withStatusInfo = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/x-msgpack"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
